<script type="text/javascript">
    window.images = {
        logo: "<%= asset_path("kelp.png") %>",
        stars: "<%= asset_path("stars.png") %>",
        yelp_splash_1: "<%= asset_path("yelp_splash_1.jpg") %>",
        yelp_splash_2: "<%= asset_path("yelp_splash_2.jpg") %>",
        yelp_splash_3: "<%= asset_path("yelp_splash_3.jpg") %>",
        yelp_splash_4: "<%= asset_path("yelp_splash_4.jpg") %>",
        yelp_splash_5: "<%= asset_path("yelp_splash_5.jpg") %>",
        yelp_splash_6: "<%= asset_path("yelp_splash_6.jpg") %>",
        yelp_splash_7: "<%= asset_path("yelp_splash_7.jpg") %>",
        yelp_splash_8: "<%= asset_path("yelp_splash_8.jpg") %>",
        yelp_splash_9: "<%= asset_path("yelp_splash_9.jpg") %>",
        yelp_splash_10: "<%= asset_path("yelp_splash_10.jpg") %>",
        map_index: "<%= asset_path("map_index.png") %>",
        profile_60: "<%= asset_path("profile_60.png") %>"
    }
</script>
<main id="root"></main>